:root {
    --bg-dark: #2c3e50;
    --text-light: #ecf0f1;

    --bg-light: #fafafa;
    --text-dark: #2c3e50;

    --gray: #CFD8DC;

    --black: #212121;
    --white: #fafafa;;
    --red: #c0392b;
    --yellow: #f1c40f;
    --blue: #2980b9;
    --green: #27ae60;
    --violet: #8e44ad;
    --orange: #e67e22;
}

.black {
    background-color: var(--black);
    color: var(--text-light);
}
.white {
    background-color: var(--white);
    color: var(--text-dark);
}
.red {
    background-color: var(--red);
    color: var(--text-light);
}
.blue {
    background-color: var(--blue);
    color: var(--text-light);
}
.green {
    background-color: var(--green);
    color: var(--text-light);
}
.violet {
    background-color: var(--violet);
    color: var(--text-light);
}
.orange {
    background-color: var(--orange);
    color: var(--text-light);
}
.yellow {
    background-color: var(--yellow);
    color: var(--text-dark);
}

html {
    background-color: var(--bg-dark);
}

body {
    color: var(--text-light);
    background-color: var(--bg-dark);
    height: 100%;
}

button {
    color: var(--text-light);
}

@media (prefers-color-scheme: light) {
    html {
        background-color: var(--bg-light);
    }
    body {
        color: var(--bg-dark);
        background-color: var(--text-light);
    }
    button {
        color: var(--bg-dark);
    }
}

.grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.player-select-circle-container {
    width: 11rem;
    height: 11rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-select-circle-container.player-select-circle-container--large {
    width: 16rem;
    height: 16rem;
}

@media screen and (max-device-width: 640px) {
    .player-select-circle-container.player-select-circle-container--large {
        width: 11rem;
        height: 11rem;
    }
    .player-select-circle-container.player-select-circle-container--large > button{
        font-size: 2rem;
    }
}

.player-select-circle {
    width: 80%;
    height: 80%;
    margin: auto;
    display: block;
    transition: padding, margin 0.1s ease-in-out;
    border-radius: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 3rem;
    padding: 0;
}

.player-select-circle.player-select-circle--selected,
.player-select-circle.player-select-circle--selected:focus,
.player-select-circle.player-select-circle--selected:active {
    border: 0.3em solid var(--gray);
    animation: pulse 1s infinite;
}

.action-button-container {
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-button-container > button {
    cursor: pointer;
    font-size: 4rem;
    background: none;
    border: none;
    transition: font-size 0.1s ease-in-out;
    outline: none;
    height: 100%;
}

.action-button-container > button:hover,
.action-button-container > button:focus {
    font-size: 4.5rem;
}

@keyframes pulse {
    0% {
        width: 90%;
        height: 90%;
    }
    50% {
        width: 80%;
        height: 80%;
    }
    100% {
        width: 90%;
        height: 90%;
    }
}